@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap|omfortaa:wght@300;400;500;600;700&display=swap');

:root {
  --prussian-blue: #1d3557;
  --celadon-blue: #457b9d;
  --powder-blue: #a8dadc;
  --honeydew: #f1faee;
  --imperial-red: #e63946;
  --header-font: "Comfortaa";
  --body-font: "Montserrat"; 
}
  
/* 
html {
  font-size: 62.5%;
}
  
body {
  font-size: 1.6rem;
} */

  /* ----------------------------------------------- Colors */

.bg-color-name-title {
  background-color: var(--prussian-blue);
}
  
.ui-color-menu-home {
  background-color: var(--honeydew);
}
  
.ui-color-menu-resume {
  background-color: var(--imperial-red);
}
  
.ui-color-menu-contact {
  background-color: var(--powder-blue);
}
  
.ui-color-menu-download {
  background-color: var(--celadon-blue);
}
  
.bg-color-three-reasons {
  background-color: var(--honeydew);
}

/* ----------------------------------------------- Special paddings, margins and settings */

h1, h2, h3, h4 {
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}

.general-sub {
  font-family: var(--body-font), sans-serif;
  font-weight: 300;
  color: var(--honeydew);
}


.inline-block {
  display: inline-block;
}

.row-table {
  display: table;
}

.section-column {
  display: table-cell;
  padding: 0 3rem 3rem;
  float: none;
}

.section-heading {
  font-family: var(--body-font), sans-serif;
  font-weight: 300;
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}

  /* ----------------------------------------------- Heading */

.header {
  margin: 0;
}

.heading{
  margin-left: 5rem;;
}

.logo {
  background: url("../images/me.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 36rem;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

.name {
  font-family: var(--header-font),  sans-serif;
  font-weight: 100;
  font-size: 4.6rem;
  margin-top: 5rem;
  color: var(--honeydew)
}

.title {
  font-family: var(--body-font), sans-serif;
  font-weight: 200;
  font-size: 2.8rem;
  margin-top: 2rem;
  margin-bottom: 9rem;
  color: var(--honeydew)
}

.list-inline-item:not(:last-child) {
  margin: 0;
}

#navbar .menu-container {
  font-size: 0;
}

#navbar li {
  font-size: 1.4rem;
  padding: 0;
}

.menu-item {
  height: 12rem;
  text-align: center;
  padding: 0;
}

.menu-item a {
  width: 100%;
  height: 12rem;
  text-decoration: none;
  color: #000;
}

.menu-item a i {
  padding-top: 2.5rem;
  display: block;
  color: #0f0f0f;
  font-size: 2.6rem;
}

.menu-item span {
  display: block;
  width: 100%;
  padding-top: .5rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 2px;
}

#navbar {
  margin: 0%;
}

  /* -----------------------------------------------Hover.css */
  
  .hvr-sweep-to-bottom:before {
    background-color: rgba(0, 0, 0, 0.2);
    height: 12rem;
  }

  /* -----------------------------------------------Footer */

footer {
  background-color: var(--celadon-blue);
  color: var(--honeydew);
  min-height: 12rem;
  margin: 0;
}

.cv-pdf i{
  font-family: 1.8rem;
  color: var(--honeydew);
  padding-left: .5rem;
  text-align: center;
  transition: all 0.35 ease-in-out;
  -moz-transition: all 0.35 ease-in-out;
  -webkit-transition: all 0.35 ease-in-out;
  -o-transition: all 0.35 ease-in-out;
}

.cv-pdf i:hover {
  color: var(--imperial-red);
}

.social-links {
  padding-bottom: 1.5rem;
}

.social-links li a i {
  height: 3.2rem;
  width: 3.2rem;
  padding: 1.2rem 0;
  border-radius: 50%;
  line-height: .7rem;
  text-align: center;
  color: var(--honeydew);
  background: var(--powder-blue);
  transition: all 0.35 ease-in-out;
  -moz-transition: all 0.35 ease-in-out;
  -webkit-transition: all 0.35 ease-in-out;
  -o-transition: all 0.35 ease-in-out;
}

.social-links li a i:hover {
  background: var(--imperial-red);
}

#footer-details {
  padding: 2rem;
}
  /* -----------------------------------------------Three reasons */

  .three-reasons-icon {
    font-size: 2.6rem;
    color: var(--prussian-blue);
  }

  .three-reasons-heading {
    margin-bottom: 1.5rem;
  }